* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: black;
  color: white;
  padding: 15px 50px;
}

.navbar-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
}

.hero {
  display: flex;
  height: 90vh;
  background: linear-gradient(to right, #090979, #00D4FF);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero-content h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.hero-content p {
  margin-bottom: 30px;
  font-size: 15px;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #f39c12;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #d35400;
}
